docutils>=0.14
pelican>=3.7.1
GitPython==2.1.5
sh>=1.12.10
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
six
smmap2==2.0.3
Markdown>=2.6.6
typogrify>=2.0.7
BeautifulSoup4>=4.4.0
requests==2.2.0
sphinxcontrib-inlinesyntaxhighlight
pyOpenSSL==0.13.1
bs4
