<div class="document-wrapper">
<markdown [src]="'assets/resume.md'"></markdown>
</div>
<!-- <div class="document-wrapper">
<h1 id="personal-data">Personal Data</h1>
<p>Lukas Woodtli</p>
<p>Zürich</p>
<h1 id="nationality">Nationality</h1>
<p>Swiss, Czech</p>
<h1 id="actual-job">Current Job</h1>
<p>Software Developer C++ on Linux at Profidata.</p>
<h1 id="work-experience">Work Experience</h1>

<div class="mat-table">
  <div class="mat-header-row">
    <div class="mat-header-cell">Time</div>
    <div class="mat-header-cell">Occupation</div>
  </div>
  <div class="mat-row">
    <div class="mat-cell">2016 - present</div>
    <div class="mat-cell">Software Engineer C++ on Linux, Profidata AG</div>
  </div>

  <div class="mat-row">
    <div class="mat-cell">2010 - 2015</div>
    <div class="mat-cell">Senior Firmware/Software Engineer, Kaba AG, Wetzikon</div>
  </div>
  <div class="mat-row">
    <div class="mat-cell">2010 (4 months)</div>
    <div class="mat-cell">Software Engineer, Codecheck Zürich</div>
  </div>
  <div class="mat-row">
    <div class="mat-cell">2010 (6 months)</div>
    <div class="mat-cell">Internship as Software Engineer, Schiller AG Baar</div>
  </div>
  <div class="mat-row">
    <div class="mat-cell">2002 (6 months)</div>
    <div class="mat-cell">Mechanic, AIM Horgen</div>
  </div>

</div>


<h1 id="education">Education</h1>
<table>
  <colgroup>
    <col style="width: 15%" />
    <col style="width: 84%" />
  </colgroup>
  <thead>
  <tr class="header">
    <th>Years:</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd">
    <td>2015 - 2016</td>
    <td><a href="https://www.inf.ethz.ch/continuing-education/certificate-program.html">Certificate Program in Computer Science (CAS-INFK)</a></td>
  </tr>
  <tr class="even">
    <td>2004 - 2009</td>
    <td>Bachelor of Electrical Engineering, <a href="http://www.zhaw.ch">University of Applied Science Zürich (ZHAW)</a></td>
  </tr>
  <tr class="odd">
    <td>2003 - 2004</td>
    <td>Teacher Training College, PH Zürich</td>
  </tr>
  <tr class="even">
    <td>1997 - 2001</td>
    <td>Apprenticeship as Mechanic, MSW Winterthur</td>
  </tr>
  </tbody>
</table>
<h1 id="courses">Courses</h1>
<p>See my page about the <a href="courses.html">courses</a> I attended.</p>
<h1 id="stays-abroad">Stays Abroad</h1>
<table>
  <thead>
  <tr class="header">
    <th>When</th>
    <th>Where</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd">
    <td>1984</td>
    <td>Ten months in Ann Arbor, Michigan (USA)</td>
  </tr>
  <tr class="even">
    <td>2002-2003</td>
    <td>Six months in New Zealand</td>
  </tr>
  </tbody>
</table>
<h1 id="language-skills">Language Skills</h1>
<ul>
  <li>German (Mother tongue): Very good writing and speaking knowledge</li>
  <li>Czech (Mother tongue): Very good speaking and basic writing knowledge</li>
  <li>English: Good writing and speaking knowledge</li>
  <li>French: Some basic knowledge</li>
</ul>
<h1 id="membership">Membership</h1>
<p><a href="https://www.acm.org/">Association for Computing Machinery (ACM)</a></p>
<h1 id="online-profiles-and-social-networks">Online Profiles and Social Networks</h1>
<ul>
  <li><a href="http://lukaswoodtli.github.io/">Home page</a></li>
  <li><a href="https://github.com/LukasWoodtli">GitHub</a></li>
  <li><a href="https://careers.stackoverflow.com/lukaswoodtli">stack overflow</a></li>
  <li><a href="https://www.linkedin.com/in/lukaswoodtli">LinkedIn</a></li>
  <li><a href="https://www.xing.com/profile/Lukas_Woodtli">XING</a></li>
</ul>
<h1 id="hobbies">Hobbies</h1>
<ul>
  <li>Sports:
    <ul>
      <li>Mountain Climbing</li>
      <li>Running</li>
      <li>Sailing</li>
      <li>Kung Fu and Eskrima</li>
    </ul></li>
  <li>Cooking</li>
  <li>Reading books</li>
</ul>
<h1 id="references">References</h1>
<p>Available on request</p>
<h1 id="application-documents">Application Documents</h1>
<table>
  <thead>
  <tr class="header">
    <th></th>
    <th>Documents</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd">
    <td>Compact</td>
    <td><a href="/documents/Application_Documents_Lukas_Woodtli.zip">Application Documents (compact)</a></td>
  </tr>
  <tr class="even">
    <td>Full</td>
    <td><a href="/documents/Application_Documents_full_Lukas_Woodtli.zip">Application Documents (full)</a></td>
  </tr>
  </tbody>
</table>
<h1 id="recruiters-and-head-hunter">Recruiters and Head Hunter</h1>
<p>If you are a recruiter (head hunter) then please read <a href="%7Bfilename%7D/pages/recruiters_headhunters.md">this page</a> before contacting me.</p>
</div>
-->
